<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright 2020 Tobias Gierke <tobias.gierke@code-sourcery.de>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>keepassmerge</display-name>

  <filter>
    <filter-name>wicket</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>de.codesourcery.keepass.webapp.WicketApplication</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>wicket</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <security-role>
    <role-name>wsuser</role-name>
  </security-role>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Restricted HTTP methods</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>OPTIONS</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
      <http-method>TRACE</http-method>
      <http-method>PROPFIND</http-method>
      <http-method>PROPPATCH</http-method>
      <http-method>MKCOL</http-method>
      <http-method>COPY</http-method>
      <http-method>MOVE</http-method>
      <http-method>LOCK</http-method>
      <http-method>UNLOCK</http-method>
      <http-method>VERSION-CONTROL</http-method>
      <http-method>REPORT</http-method>
      <http-method>CHECKOUT</http-method>
      <http-method>CHECKIN</http-method>
      <http-method>UNCHECKOUT</http-method>
      <http-method>MKWORKSPACE</http-method>
      <http-method>UPDATE</http-method>
      <http-method>LABEL</http-method>
      <http-method>MERGE</http-method>
      <http-method>BASELINE-CONTROL</http-method>
      <http-method>MKACTIVITY</http-method>
      <http-method>ORDERPATCH</http-method>
      <http-method>ACL</http-method>
      <http-method>PATCH</http-method>
      <http-method>SEARCH</http-method>
    </web-resource-collection>
    <auth-constraint />
  </security-constraint>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
    <session-timeout>30</session-timeout>
  </session-config>

<!--  <security-constraint>-->
<!--    <web-resource-collection>-->
<!--      <web-resource-name>SSL_SECURED_RESOURCE</web-resource-name>-->
<!--      <url-pattern>/*</url-pattern>-->
<!--      <http-method>GET</http-method>-->
<!--      <http-method>PUT</http-method>-->
<!--      <http-method>POST</http-method>-->
<!--    </web-resource-collection>-->

<!--    <user-data-constraint>-->
<!--      <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
<!--    </user-data-constraint>-->
<!--  </security-constraint>-->

</web-app>
